.container {
    margin: auto;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    background-color: #141224;
    border: #272541 solid 2px;
    padding: 1rem;
    width: 60%;
    font-size: 18px;
    outline: none;
}